.notes-filter {
  width: 100%;
}


table {
  width: 100%;
}

::ng-deep .mat-cell:last-of-type {
  text-align: right;
}

tr.note-detail-row {
  height: 0;
}

tr.note-row:not(.note-expanded-row):hover {
  background: #777;
  cursor: pointer;
}

tr.note-row:not(.note-expanded-row):active {
  background: #efefef;
}

.note-row td {
  border-bottom-width: 0;
}

.note-detail {
  overflow: hidden;
  display: flex;
}

.note-description {
  // padding: 16px;
  text-align: left;
  width: 80%;
}

.note-actions {
  text-align: right;
  width: 20%;
}
